# Ignore everything.  We'll whitelist what we want to pull in.
/*
/*/

# Git meta files
!.gitignore
!.gitattributes
!README.md

# Whitelisted directories/files
!/ProjectSettings/
!/Blenderdata/
!/Assets/
!/Packages/
!LICENSES.txt
Blenderdata/Bahnhofgesamt/bahnhof.fbx
Assets/Models/Bahnhof/bahnhof.fbx
Blenderdata/Bahnhofgesamt/bahnhof.blend
